* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

$main-color: #7dbcea;

.hins-ui-page {

  & > .hins-layout {

    &-header {
      box-shadow: 0 2px 8px #f0f1f2;
      vertical-align: top;

      & > img,
      & > span {
        display: inline-block;
        vertical-align: middle;
      }

      & > img {
        height: 80px;
      }

      & > span {
        margin-left: 20px;
        color: #7dbcea;
        font-size: 24px;
        font-weight: bold;
        user-select: none;
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      box-shadow: 0 2px 8px #f0f1f2;
      padding-right: 20px;
    }

    & > .hins-layout {

      &-content {
        padding-left: 20px;
        margin-left: 20px;
      }

      &-sider {
        padding: 20px 0;

        & ul {
          display: inline-block;
          border-right: 1px solid #f0f0f0;
          width: 100%;
          height: 100%;
        }

        & li {
          cursor: pointer;
          height: 40px;
          line-height: 40px;

          &:hover {
            color: $main-color;
          }

          & > a {
            padding: 0 20px;
            display: inline-block;
            width: 100%;
            height: 100%;

            &.active {
              background-color: rgba($main-color, 0.5);
              border-right: 3px solid $main-color;
            }
          }
        }
      }

      &-content,
      &-sider {
        overflow: hidden;
        height: calc(100vh - 120px);
        padding-top: 20px;

        &:hover {
          overflow-y: scroll;
        }
      }
    }
  }
}
